body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
#coordinates {
    font-size: 2rem;
    padding: 10px;
    border-radius: 12px;
    background: #efece1;
    /* box-shadow: 0 6px 6px rgba(224, 124, 24, 0.869); */
    color: #ee6262;
  }